# Repo-specific GitIgnore ----------------------------------------------------------------------------------------------
*.jpg
*.jpeg
*.png
*.bmp
*.tif
*.tiff
*.heic
*.JPG
*.JPEG
*.PNG
*.BMP
*.TIF
*.TIFF
*.HEIC
*.mp4
*.mov
*.MOV
*.avi
*.data
*.json

*.cfg
!cfg/yolov3*.cfg

.vscode
.catkin_workspace


# Datasets -------------------------------------------------------------------------------------------------------------
src/yolo_bot/runs/detect
src/yolo_bot/data/*

# weights
src/yolo_bot/runs/train/yolov5s_results/

# launch
src/yolo_bot/launch/

# files
cmd.txt
common_type_images
debug.txt
husky.sh
husky_topics.txt
info_publish_video.txt
publish_image_view.sh